/* .developer {
  margin: 35px 0;
}

.developer__heading {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  padding-bottom: 10px;
}

.developer__heading:after {
  content: "";
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}

.developer__anup {
  width: 65vh;
  height: 64vh;
}

.developer__yash {
  width: 55vh;
  height: 64vh;
}

.developer__profile {
  margin-top: 25px;
}

.developer__image {
  border-radius: 100% !important;
  /* margin-left: 130px; */
  /*
  opacity: 1;
  display: block;
  position: relative;
}

.developer__name {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 15px;
  color: rgba(24, 46, 45, 0.6);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.developer__skill {
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: rgba(90, 10, 30, 0.6);
}

.developer__name:after {
  content: "";
  background: rgb(29, 77, 20);
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}

.developer__about {
  font-size: 1.1rem;
  margin-top: 15px;
  color: rgba(52, 42, 54, 0.6);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.developer__image:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.developer__ul {
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.developer__li {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 3px;
  padding: 1px;
  display: inline-block;
}

.developer__image a {
  color: #fff;
}

.developer__image:hover:after {
  opacity: 1;
}

.developer__image:hover .developer__ul {
  opacity: 1;
} 
*/
